<div *ngIf="selectedMovie">
  <div class="container m-4">
    <div class="row">
      <div class="col image-center">
        <img [src]="selectedMovie.imageUrl" class="card-img-top" />
      </div>
      <div class="col d-flex flex-column justify-content-center">
        <h3 class="card-title">{{ selectedMovie.name }}</h3>
        <p>{{ selectedMovie.description }}</p>
        <small>release year {{ selectedMovie.year }}</small>
        <h6 class="mt-5">
          Price: {{ selectedMovie.price | currency: "SEK":"symbol" }}
        </h6>
        <div class="mt-5">
          <button
            (click)="addToCart('boughtMovies', selectedMovie)"
            type="button"
            class="btn btn-outline-primary mx-1"
          >
            Add to cart
          </button>
          <a
            class="btn btn-primary mx-1"
            aria-current="page"
            routerLink=""
            routerLinkActive="active"
            >continue shopping</a
          >
          <a
            class="btn btn-primary mx-1"
            aria-current="page"
            routerLink="/checkout"
            routerLinkActive="active"
            >proceed to checkout</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
