<div *ngIf="boughtMovies.length > 0; else emptyCart">
  <table class="table table-hover mx-auto">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Added to store</th>
        <th scope="col">remove from cart</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="table-active"
        *ngFor="let boughtMovie of boughtMovies; index as i"
      >
        <th scope="row">{{ boughtMovie.name }}</th>
        <td>{{ boughtMovie.price | currency: "SEK":"symbol" }}</td>
        <td>{{ boughtMovie.added }}</td>
        <td>
          <fa-icon (click)="remove(i)" [icon]="['fas', 'trash-alt']"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="last-buttons">
    <h4 class="text-center">
      Total price: {{ totalPrice | currency: "SEK":"symbol" }}
      <div class="text-center mt-5">
        <a
          class="btn btn-primary"
          aria-current="page"
          routerLink=""
          routerLinkActive="active"
          >continue shopping</a
        >
        <a
          class="btn btn-primary mx-1"
          aria-current="page"
          routerLink="/checkout"
          routerLinkActive="active"
          >proceed to checkout</a
        >
        <button
          (click)="clearCart('boughtMovies')"
          type="button"
          class="btn btn-outline-primary"
        >
          Clear cart
        </button>
      </div>
    </h4>
  </div>
</div>

<ng-template #emptyCart>
  <div
    class="empty d-flex justify-content-center align-items-center flex-column text-center w-100"
  >
    <h4>Your cart is empty</h4>
    <p>Continue shopping or welcome back soon!</p>

    <a
      class="btn btn-outline-primary mx-1"
      aria-current="page"
      routerLink=""
      routerLinkActive="active"
      >Start shopping</a
    >
  </div>
</ng-template>
