<form
  [formGroup]="searchMovieForm"
  class="w-50 mt-5 mx-auto"
  (ngSubmit)="handleSubmit()"
>
  <input
    formControlName="movie"
    class="form-control me-sm-2"
    type="text"
    placeholder="Search"
    id="movie"
    formControlName="movie"
  />
  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="d-flex flex-wrap mx-auto" style="width: 90%">
  <ng-container *ngFor="let movie of movies">
    <a routerLink="/movies/{{ movie.id }}">
      <div class="card mt-5 mx-3" style="width: 18rem">
        <img
          [src]="movie.imageUrl"
          class="card-img-top"
          alt="{{ movie.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.name }}</h5>
        </div>
      </div>
    </a>
  </ng-container>
</div>
