<form
  [formGroup]="orderForm"
  class="d-flex flex-column w-50"
  (ngSubmit)="handleSubmit()"
>
  <input
    formControlName="name"
    class="form-control me-sm-2 my-2"
    type="text"
    placeholder="enter your name"
    id="name"
  />
  <select
    formControlName="payment"
    id="payment"
    class="form-select my-2"
    aria-label="Default select example"
  >
    <option selected>Choose payment type</option>
    <option value="Paypal">Paypal</option>
    <option value="Mastercard">Mastercard</option>
    <option value="Klarna">Klarna</option>
  </select>
  <button class="btn btn-outline-primary my-5" type="submit">Buy</button>
</form>
